*.class
Minecraft/bin/*
Minecraft/src/* 
Minecraft/common/net/* 
Minecraft/common/org/*
Minecraft/common/cpw/*
Minecraft/common/ic2/*
Minecraft/common/ibxm/*
*/.settings/*
*.jar
*.bat
*~*
forge_logo.png
*.cfg
*.properties
*.classpath
*.project
*/rocketScience/*